<div id="loader" class="loader-container hide">
    <div class="loader-parent-container">
        <div class="preloader-wrapper small active left">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="loader-text white-text">Loading</div>
    </div>
</div>