<h5>Message history:</h5>

<table class="highlight bordered">
    <thead>
        <tr>
            <th>S.No</th>
            <th>To</th>
            <th>Message</th>
            <th>Sent at</th>
        </tr>
    </thead>
    <tbody>
        <% messages.forEach(function(message, index){ %>
            <tr>
                <td><%= index + ((pageNo - 1) * limit) + 1 %></td>
                <td><%= message.first_name + ' ' + message.last_name %></td>
                <td><%= message.message_text %></td>
                <td>
                    <% var date = new Date(message.sent_at) %>
                    <%= functions.dateToMySqlDate(date) %>
                </td>
            </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>
            <td class="center" colspan="4">
                <% if (pageNo > 1) { %>
                    <a class="pagination" href="?pageNo=<%= pageNo-1 %>">Prev</a>
                <% } %>
                
                <% if (pageNo < totalPages) { %>
                    <a class="pagination" href="?pageNo=<%= pageNo+1 %>">Next</a>
                <% } %>
            </td>
        </tr>
    </tfoot>
</table>