<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/head.ejs %>
    </head>

    <body>
        <% include elements/loader.ejs %>

        <% include templates/nav.ejs %>
        
        <!-- Insert Body here -->
        <main><%- body %></main>
        
        <!-- js files -->
        <% include templates/end_body_js.ejs %>
    </body>
</html>