<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Compiled and minified materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- Our js files -->
<script src="/javascripts/common.js"></script>
<script src="/javascripts/sideNav.js"></script>

<% if (page == 'compose') { %>
    <script src="/javascripts/sendMessage.js"></script>
<% } %>
