
<ul id="slide-out" class="side-nav fixed teal lighten-5">
    <li class="<%= ['contacts-list', 'contact-detail', 'compose'].indexOf(page) >= 0 ? 'active' : '' %>">
        <a href="/contacts">Contacts</a>
    </li>
    <li class="<%= ['history'].indexOf(page) >= 0 ? 'active' : '' %>">
        <a href="/history">History</a>
    </li>
</ul>

<div class="show-in-mobile center teal lighten-5">
    <a href="#" 
        data-activates="slide-out"
        class="button-collapse left">
        <i class="material-icons">menu</i>
    </a>
    <span>Vikas</span>
</div>
