/* loader */
.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 1000;
    top: 0px;
}
.loader-parent-container {
    position: relative;
    width: 190px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    border-radius: 3px;
}
.loader-parent-container .loader-text{
    margin-left: 55px;
    padding-top: 12px;
}