@import url('loader.css');

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

select {
    display: inline-block;
}

/* no margin for side nav */
main {
    margin-left: 0px;
}

/* show burger menu icon in mobile only */
.show-in-mobile {
    display: block;
    padding: 15px;
}

/* side navigation */
.side-nav {
    padding-top: 25px;
}

/* prev and next pagination */
.pagination {
    padding: 10px;
}

/* larger screens - mobile first css */
@media only screen and (min-width : 993px) {
    /* side nav margin */
    main {
        margin-left: 300px;
        padding-left: 15px;
    }
    /* hide burgen menu in desktop */
    .show-in-mobile {
        display: none;
    }
}
