<h5>Send message to <%= details.first_name + ' ' + details.last_name %>:</h5>

<div>
    <div class="input-field">
        <!-- user id -->
        <input id="id" value="<%= details.id %>" hidden/> 
        
        <!-- user mobile -->
        <input id="mobile" value="<%= details.mobile %>" hidden/> 
        
        <!-- otp message -->
        <input id="otp_message"
            type="text"
            disabled
            value="Hi <%= details.first_name %>, Your OTP is:<%= otp %>"/>
        <label for="otp_message">Otp message</label>
    </div>
    <div class="input-field">
        <!-- send otp message -->
        <button type="button" 
            class="btn"
            onclick="sendMessageClickBtn()">
            Send Message
        </button>
    </div>
</div>
