<h5>Contacts list:</h5>

<table class="highlight bordered">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        <% contacts.forEach(function(contact, index){ %>
            <tr>
                <td><%= index + 1 %></td>
                <td>
                    <a href="/contacts/contact-detail/<%= contact.id %>">
                        <%= contact.first_name + ' ' + contact.last_name %>
                    </a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>