<h5>Contact details:</h5>

<table class="highlight bordered">
    <tbody>
        <tr>
            <td>First name</td>
            <td><%= details.first_name %></td>
        </tr>
        <tr>
            <td>Last name</td>
            <td><%= details.last_name %></td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><%= details.mobile %></td>
        </tr>
        <tr>
            <td>Action</td>
            <td><a class='btn' href='/contacts/compose/<%= details.id %>'>Compose Message</a></td>
        </tr>
    </tbody>
</table>